*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Google Sans Display', system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-list-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	width: min(90%, 1400px);
	margin: 1rem auto;
}
todo-item {
	position: relative;
	display: inline-block;
	display: flex;
	align-items: center;
	border-radius: 1rem;
}
todo-item > .touch-feedback,
todo-item > .mdc-ripple {
	border-radius: 1rem;
}
.animate {
	pointer-events: none;
	animation: scale-down-animation 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards,
		opacity-animation 180ms ease-out forwards 120ms;
}

@keyframes scale-down-animation {
	100% {
		scale: 0.78;
	}
}
@keyframes opacity-animation {
	100% {
		opacity: 0;
	}
}
todo-item:hover {
	background-color: hsl(0 0% 40% / 0.1);
}
:root {
	--body-bg: hsl(0 0% 6%);
	--scrollbar-thumb-clr: hsl(0 0% 50%);
}

body {
	min-width: 100%;
	margin: 0;
	min-height: 100vh;
	background-color: var(--body-bg);
	color: #fff;
}

button,
a {
	user-select: none;
}
button {
	border: none;
	outline: none;
	color: #fff;
}
a {
	color: #fff;
	text-decoration: none;
}

.icon {
	border-radius: 50%;
	width: 2rem;
	aspect-ratio: 1 / 1;
}
.btn {
	font-family: 'Google Sans';
	font-size: 1rem;
	font-weight: 500;
	padding: 0.9rem 1rem;
	background-color: transparent;
	border-radius: 5rem;
	transition: background-color 100ms ease-out;
}

.btn:hover {
	background-color: hsl(0 0% 7%);
}
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(90%, 15rem), 1fr));
	gap: 2rem;
	width: min(95%, 1200px);
	margin: 0 auto;
	margin-block: 5rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 1rem 0.8rem;
	background-color: hsl(0 0% 3%);
	width: 100%;
	aspect-ratio: 1 / 0.7;
	border-radius: 1rem;
	transition: background-color 150ms ease-out 50ms;
}
.card:hover {
	background-color: hsl(0 0% 2%);
}
.card-link {
	color: hsl(0 0% 100% / 0.9);
	margin: 0.8rem;
	padding: 0.5rem;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 0.8rem;
}

::-webkit-scrollbar-track {
	margin: 0.5rem;
	background-color: var(--body-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 1rem;
	border: 0.2rem solid var(--body-bg);
	border-right-width: 0.4rem;
	background-color: var(--scrollbar-thumb-clr);
}
