:where(.feedback) {
	position: relative;
	z-index: 1;
}
.touch-feedback {
	--feedback-bg: hsl(0 0% 50% / 0.2);
	--feedback-stroke-clr: hsl(0 0% 50% / 0.57);
	pointer-events: none;
	z-index: -1;
	border-radius: inherit;
}
.touch-feedback,
.touch-feedback::before,
.touch-feedback::after {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

.touch-feedback::before,
.touch-feedback::after {
	content: '';
}
.touch-feedback::before {
	transition: background-color 50ms ease-out;
}
.touch-feedback::after {
	border: 1px solid var(--feedback-stroke-clr);
	opacity: 0;
	transition: opacity 260ms ease-out 50ms;
}
.touch-feedback.touch-feedback-down::before {
	background-color: var(--feedback-bg);
}

.touch-feedback.touch-feedback-up::after {
	opacity: 1;
	transition: none;
}
